<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bitcoin address checking app</title>
</head>
<body>
{% block content %}
    <h3>bitcoin address check</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}<br>
            <input type="checkbox" name="date" value="date">
            <label for="check_date">Filter transactions by date and time</label><br>
            <input type="datetime-local" name="since"><br>
            <input type="datetime-local" name="to"><br>
            <input type="submit" value="check">
        </form>
    {{ my_datetime }}
{% endblock %}
</body>
</html>